body {
    color: black;
    background-color: #E5E5E5;
    margin: 64px;
    padding: 0px;
    font-family: 'Inter';
}

.page {
    width: 1024px;
    max-width: 80%;
    margin: 0 auto;
    padding: 32px;
    background-color: white;
}

.page-title {
    font-size: 18px;
    font-weight: 700;
}

.comment-box {
    margin-top: 24px;
    display: flex;
    flex-direction: row;
}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: gray;
}

.comment-input {
    margin-left: 16px;
    height: 30px;
    font-size: 11px;
    flex-grow: 1;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    padding: 0px 8px;
}

.comment-button {
    margin-left: 16px;
    line-height: 16.5px;
    width: 83px;
    height: 30px;
    background-color: #7E34F6;
    border-radius: 4px;
    border: none;
    font-size: 11px;
    color: white;
}

.divider {
    margin-top: 32px;
    margin-bottom: 8px;
    border-top: 1px solid #E5E5E5;
}

.container {
    margin-top: 24px;
    display: flex;
    flex-direction: row;
}

.content {
    margin-left: 16px;
    display: flex;
    flex-direction: column;
}

.content-head {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.user-name {
    color: #21293C;
    font-size: 13px;
    font-weight: 600;
}

.time-ago {
    font-size: 11px;
    color: #4B587C;
    font-weight: 400px;
}

.time-ago::before {
    content: "\00B7";
    margin: 0px 8px;
}

.content-text {
    padding: 4px 0px;
    font-size: 13px;
    font-weight: 400;
    color: #21293C;
}

.content-action {
    text-decoration: none;
    font-size: 11px;
    font-weight: 600;
    color: #4B587C;
}

.up-vote::before {
    content: "\25B4";
    margin-right: 8px;
}

.reply {
    margin-left: 16px;
}